## Created by Chad
# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/

# Build folders
Debug/
Release/
x64/
x86/
ipch/
*.opensdf
*.sdf
*.VC.db

# VS Code settings if you use VSCode alongside
.vscode/

# CMake build artifacts if you use CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Other temporary files
*.obj
*.exe
*.pdb
*.ilk
*.idb


## Created by GITHUB

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
